<table class="center-content">
  <tr>
    <td id="logo">
      <img src="https://codegym.vn/wp-content/uploads/2019/03/icon-01.jpg">
    </td>
    <td id="cyber-dojo">
      CodeGym
    </td>
  </tr>
</table>