<div id="review-page" style="display:none">
  <%= render partial: 'review/review' %>
</div>

<div id="kata-page">
  <%= render partial: 'view_test' %>
</div>

<%= render partial: 'shared/app_bar_long',
           locals: {
              help_url:"https://codegym.vn"
           } %>

<script type="text/javascript"><!--
'use strict';
$(() => {
  cd.loadTestFile();
});
//--></script>
